* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;

}

header {
	background-image: url(assets/banner-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a {
	border-bottom: 1px solid white;
}

.main-nav li a:hover {
	border-bottom: 1px solid white;
}

.logo {
	width: 100px;
	height: auto;
	float: left;
	margin-top: 30px;
}

.row {
	max-width: 1200px;
	margin: auto;
}

.hero {
	position: absolute;
	top: 100px;
	width: 100%;
}

h1 {
	font-family: "Roboto", sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	/* margin-top: 300px; */
}
.hero h1{
	margin-top: 300px;
}
.button {
	text-align: center;
	margin-top: 50px;
}

.btn {
	font-family: "Roboto", sans-serif;
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-one {
	background-color: darkorange;
}

.btn-two:hover {
	background-color: darkorange;
	transition: all 0.2s ease-in;
}

.grid-container {
	display: grid;
  	/* grid-template-columns: auto auto; */
  	padding: 10px;
}

.grid-item {
	padding: 20px;
}

.service {
	background-image: url(assets/img-banner@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.about {
	background-image: url(assets/banner-bg.jpg);
	/* height: 100vh; */
	height: 700px;
	background-size: cover;
	background-position: center;
}
.service::before{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    cursor: pointer !important;
}
.blog {
	background-image: url(assets/banner-texture@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background: #3f3c3c;
}
.blogHeader{
	font-size: 19px;
	font-family: "Roboto", sans-serif;
	padding-left: 30px;
}
.blogtext{
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	padding-left: 30px;
	line-height: 25px;
}
.blog-list{
	list-style: none;
    display: flex;
    padding-left: 30px;
}
.blog-list li{
	padding-left: 10px;
}
.blog-list li a{
	color: black;
}

.contact {
	background-image: url(assets/img-contact-form-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.faq {
	background-image: url(assets/img-prop-type@2x.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.contact-form {
	font-family: "Arial", "Helvetica", sans-serif;
	margin: auto;
	padding: 0 200px;
}

.contact-section-header {
	color: #282828;
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
}

.form input, textarea {
	font-size: 20px;
	text-decoration: none;
	outline: none;
	width: 49%;
	height: 60px;
	padding-left: 10px;
	border-radius: 6px;
	border: none;
	font-family: "Roboto", sans-serif;
	margin: 5px 0;
}

.form input.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
 }

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
 }

 .subject {
 	height: 150px;
 	color: black;
 }
 .logoImage{
	width: 140px;
    margin-top: -10px;
 }
 .automateOpsText{
	color: white;
    font-family: Roboto, sans-serif;
    /* margin-top: 12px; */
    font-size: 26px;
    letter-spacing: 2px;
 }
 .ml15 {
  font-weight: 600;
  font-size: 26px;
  font-family: Roboto, sans-serif;
}

#about-header {
	font-size: 40px;
	/*text-align: center;
	  margin:100px 10px 10px 10px;*/
	display: table;/* shrinks on content */
	margin: 10px auto;/* margin:auto instead text-align for this block  */
	font-family: Poiret One;
	color: lightyellow;
	border-bottom: 2px solid #c3202a;
  }
  .aboutContent{
	  font-size: 18px;
	  color: white;
	  font-family: Roboto, sans-serif;
		margin: 40px;
		line-height: 30px;
  }
  .imageAbout{
	width: 70px;
    /* height: 100px; */
	background-color: white;
    padding: 10px;
    position: relative;
    border-radius: 12px;
    left: 40%;
    transform: translateX(-50%);
  }

  .columns{
	  display: flex;
	  flex-wrap: wrap;
  }
  .column {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    max-width: 100%;
}
.product.column:last-child {
    border-left: 2px solid #ccc;
}
.product.column:first-child {
    border-right: 2px solid #ccc;
}
.columns:first-child .column, .columns:nth-child(2) .column {
    border-bottom: 2px solid #ccc;
}
.product.column {
    -webkit-border-image: -webkit-radial-gradient(#ccc,transparent) .5;
    border-image: radial-gradient(#ccc,transparent) .5;
}
.product {
    position: relative;
    height: 250px;
}
.product > div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
	transition: transform 175ms ease,opacity 175ms ease,-webkit-transform 175ms ease;
	box-shadow: 5px 7px 10px 0 rgb(35 43 48 / 6%);
}
.product:hover{
    opacity: 1;
    background-color: #c7b4b4;
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
	border-radius: 20px;
}
.product:hover {
    z-index: 2;
}
.description{
	color: #7b8199;
    width: 300px;
    margin: auto;
	letter-spacing: 1px;
}
.headerLg{
	font-size: 18px;
    line-height: 28px;
	color: white;
	font-family: "Roboto", sans-serif;
}
.description{
	font-size: 15px;
	color: whitesmoke;
	font-family: "Roboto", sans-serif;
	line-height: 20px;
}
.center{
	text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin: 0px 100px;
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  	.blog {
    	background-image: url(assets/banner-texture@2x.png) !important;
  	}

  	.faq {
    	background-image: url(assets/img-prop-type@2x.jpg) !important;
  	}
}
